<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Twttr{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/" class="logo">Twttr</a>
            <div class="nav-links">
                {% if current_user %}
                    <a href="/users">Find Users</a>
                    <a href="/profile/{{ current_user.username }}">Profile</a>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                {% endif %}
            </div>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>